MONGO_USER=admin
MONGO_PASSWORD=secret
MONGO_HOST=change-to-host-ip
MONGO_PORT=27017
MONGO_DB=pw-manager
MONGO_TEST_DB=pw-manager-test

JWT_SECRET_KEY=>X{=3,Bbx4sZ:M'+P::v!uG&>~3u}3()QbU9cDqzN62Js2(r{Wdry@~K'ewSRq'j3'zd)>gQt2Rj"W8=.:"[C2$=$p>w(qf-}dr<---r)'="U8pp3S~Dz&//\cC
